* {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 50px;
    width: 1949px;
    background-color: #212121;
    position: fixed;
    top: 0;
}

header {
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 30px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top:50px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    opacity: 0.5;
}

.subheader .subheader_call {
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    text-align: right;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url('../img/background/main_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
}

.causes {
    min-height: 900px;
    padding: 71px 0 65px 0;
}


.label {
    margin: 71px auto 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 2.2em;
}

.title {
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.causes .causes_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.causes .causes_block .causes_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    min-width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}


.causes .causes_block .causes_descr {
    width: 341px;


}

.causes .causes_block .causes_descr .causes_subtitle {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
}

.causes .causes_block .causes_descr .causes_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}